torch >= 1.5.0
transformers >= 3.3.1
joblib >= 0.16.0
nltk >= 3.5
numpy >= 1.18.5
tqdm >= 4.47.0

jieba~=0.42.1
pandas~=1.4.0
scikit-learn~=1.0.2
scipy~=1.8.0
filelock~=3.4.2
ipython~=8.0.1
requests~=2.27.1
pydantic~=1.8.2
packaging~=21.3
tokenizers~=0.11.4
sacremoses~=0.0.47
regex~=2022.1.18
six~=1.16.0
pillow~=8.4.0
pyyaml~=6.0
torchvision~=0.10.0
matplotlib~=3.5.1
setuptools~=58.0.4